.navbar 
{
    background-color: snow;
    border-bottom: 1px solid rgb(76, 76, 223);
}

.navbar .container
{
    margin: 0;

}
.navbar-brand img 
{
    border-radius: 45px;
}
.navbar-nav
{
    gap: 5px;
    align-items: baseline;
}
.navbar-nav a
{
    font-size: 20px;
    padding: 6px 0px;
    border-radius: 45px;
    color: rgb(76, 76, 223);
    transition: all 0.5s;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar-nav a:hover
{
    color: black;
}
.navbar-nav .fonts
{
    font-size: 30px;
    border: 0;
    background-color: snow;
    color: rgb(76, 76, 223);
    transition: all 0.5s;
}
.navbar-nav .fonts:hover
{
    color:black;
}
.navbar-toggler
{
    outline: none;
}
.container .navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
}