.navbar 
{
    background-color: snow;
    border-bottom: 1px solid rgb(76, 76, 223);
}
@media only screen and (max-width:1199px)
{
    .navbar.navbar-light
    {
        justify-content: center;
    }
}
.navbar .navContainer
{
    width: 100%;
    margin: 0;
    padding: 0px 10px;
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.navbar-brand img 
{
    border-radius: 45px;
}
.navbar-nav
{
    gap: 5px;
    align-items: baseline;
}
.navbar-nav a
{
    font-size: 20px;
    padding: 6px 5px;
    border-radius: 45px;
    color: rgb(76, 76, 223);
    transition: all 0.5s;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
}
.navbar-nav a:hover
{
    color: black;
}
.navbar-nav .fonts
{
    font-size: 30px;
    border: 0;
    background-color: snow;
    color: rgb(76, 76, 223);
    transition: all 0.5s;
    padding: 0px 5px;
}
.navbar-nav .fonts:hover
{
    color:black;
}
.navbar-toggler
{
    outline: none;
}
.container .navbar-toggler:focus
{
    outline: none;
    box-shadow: none;
}
.navbar-nav .fontsLink
{
    font-size: 30px;
}