.MainProductsRow.row
{
    flex-direction: row-reverse;
    margin: 0;
    margin-top: 10px;
}
.RowProducts.row .col
{
    margin-top: 10px;
    padding: 3px;
    
}
.CardProduct
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 5px #aaaaaa;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s;
    
}
.CardProduct:hover
{
    box-shadow: 2px 2px 5px rgb(109, 95, 15);
}
.productTitle
{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 17px;
    font-family: 'Times New Roman', Times, serif;
    color:purple;
    
}
.productImg
{
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
    
}
.productFooter
{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    align-items: baseline;
    align-items: center;
    padding: 5px;
}
@media only screen and (max-width:575px)
{
    .productFooter
    {
        flex-direction: column-reverse;
    }
    .productTitle
    {
        font-size: 18px;
    }
}
.productFooter .productPrice
{
    margin-left: 5px;
}
.productDiscript
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 17px;
    font-family: 'Times New Roman', Times, serif;
}
.AccordianPart.col
{
    margin-top: 10px;
}
.Filters.accordion
{
    margin-top: 5px;
}

.accordion-header .accordion-button:not(.collapse)
{
    background-color: #aaaaaa;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
.accordion-header .accordion-button:focus
{
    box-shadow: none;
}
.FilterLable.form-check-label
{
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}